* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #FF6200;
  --yellow: #FFA101;
}

html,
body {
  height: 100%;
  overflow-y: auto;
}

html {
  background: #fffef8;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  color: #555;
}

body {
  min-height: 100vh;
}

.flat {
  margin-bottom: 0 !important;
}

h1,
h2,
h3,
h4 {
  color: #333;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 10px;
}

h1 {
  font-size: 54px;
  font-weight: 700;
}

a {
  color: #ff9f00;
  text-decoration: none;
}

.btn {
  text-transform: uppercase;
  font-weight: 500;
  transition: all 225ms ease;
}

.logo {
  position: relative;
  width: 115px;
  height: 175px;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(100%);
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 24px;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #111;
  font-weight: 300;
  text-align: center;
  font-family: 'Teko', sans-serif;
  opacity: 0;
  animation: fadeIn 200ms 1000ms ease forwards;
  border-bottom: 1px solid #ff6102;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 20px;
  color: #999;
  font-weight: 300;
  text-align: center;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 span {
  opacity: 0;
  display: block;
  margin: 0 5px;
  animation: fadeInUp 225ms 225ms ease forwards;
}

h2 span:first-child { animation-delay: 1500ms }
h2 span:nth-child(2) { animation-delay: 1725ms }
h2 span:nth-child(3) { animation-delay: 1950ms }

.front,
.middle,
.back {
  width: 60px;
}

.front,
.middle {
  height: 101px;
}

.back {
  height: 156px;
}

.front,
.middle,
.back {
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
}

@keyframes showFront {
  0% {
    transform: translate3d(-20px,-20px,0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@keyframes showMiddle {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showBack {
  0% {
    transform: translate3d(40px,-15px,0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

.front {
  background-image: url(front.svg);
  left: 0;
  z-index: 50;
  top: 73px;
  opacity: 0;
  transform: translate3d(-20px,-20px,0);
  animation: showFront 1s ease forwards;
}

.middle {
  background-image: url(middle.svg);
  background-size: cover;
  z-index: 30;
  left: 28px;
  height: 102px;
  top: 64px;
  opacity: 0;
  transform: translateY(30px);
  animation: showMiddle 1s 300ms ease forwards;
}

.back {
  background-image: url(back.svg);
  top: 0;
  left: 56px;
  z-index: 20;
  opacity: 0;
  transform: translate3d(40px,-15px,0);
  animation: showBack 1000ms 400ms ease forwards;
}

.wrapper {
  transition: all 375ms ease;
  padding-top: calc(50vh - 200px);
}

.intro {
  margin: 0 auto;
  width: 320px;
  height: 400px;
  transform: translateZ(0);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  display: none;
  opacity: 0;
  animation: fadeInUp 225ms 225ms ease forwards;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__title,
.hero__desc {
  text-align: center;
}

.img {
  background: #eee;
  height: 400px;
  flex: 1;
}

.cards {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -20px;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hero__desc {
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ff6102;
}

.card {
  margin-bottom: 20px;
  width: calc(33.333333333% - 20px);
  margin-left: 20px;
  height: 300px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
  cursor: pointer;
  background: rgba(255,255,255,0.025);
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card__border {
  height: 1px;
  opacity: 0;
  transform: scaleX(0);
  transition: all 225ms ease;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  transition: none;
  background: linear-gradient(90deg, var(--yellow), var(--orange));
}

.card:hover .card__border {
  opacity: 1;
  transition: all 100ms ease;
}

.card__border--top {
  transform-origin: left;
}

.card:hover .card__border--top,
.card:hover .card__border--bottom {
  transform: scaleX(1);
}

.card:hover .card__border--left,
.card:hover .card__border--right {
  transform: scaleY(1);
}

.card__border--right {
  left: 100%;
  top: 0;
  height: 100%;
  width: 1px;
  transform-origin: top;
  transform: scaleY(0);
}

.card:hover .card__border--right { transition-delay: 100ms }

.card__border--bottom {
  transform-origin: right;
  top: 100%;
}

.card:hover .card__border--bottom { transition-delay: 200ms }

.card__border--left {
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  transform-origin: bottom;
  transform: scaleY(0);
}

.card:hover .card__border--left { transition-delay: 300ms }

.card__body {
  flex: 1;
  padding: 40px;
  position: relative;
}

.card__footer {
  background: rgba(0,0,0,0.25);
  padding: 10px 20px;
}

.card__desc {
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

.card:nth-child(4),
.card:nth-child(5),
.card:nth-child(6) {
  margin-bottom: 0;
}

.card:hover {
  transition: all 225ms ease;
  transform: scale(1.05);
}

.actions {
  margin-bottom: 60px;
}

.action {
  color: inherit;
}

.action h2:before {
  content: "/";
  font-weight: 600;
  color: #ff6102;
  margin-right: 10px;
}

.loaded .wrapper {
  transform: translateY(calc(-50vh + 200px)) translateZ(0);
}

.loaded .content {
  display: flex;
}

@media(min-width: 1024px) {


  .actions {
    margin-left: -40px;
  }

  .action {
    padding-left: 40px;
    flex: 1;
  }

  .action p {
    margin-bottom: 0;
  }

  .actions {
    display: flex;
  }

}
