* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  width: 271px;
  height: 460px;
  position: absolute;   
  top: 50%;
  left: 50%;
  margin-left: -135px;
  margin-top: -230px;
}

.logo__cube {
  position: absolute;
  width: 139.5px;
  height: 128px;
  background-image: url('./cube.svg');
  background-size: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  animation: showCubeFromBack 500ms ease forwards;
}

@keyframes showCubeFromBack {
  0% {
    opacity: 0;
    transform: translate3d(-70px, -64px, -60px);
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes showCubeFromFront {
  0% {
    opacity: 0;
    transform: translate3d(70px, -64px, -60px);
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes showCubeFromTop {
  0% {
    opacity: 0;
    transform: translate3d(0, -64px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes showCubeFromBottom {
  0% {
    opacity: 0;
    transform: translate3d(0, 64px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

.logo__cube:nth-child(1) {
  z-index: 7;
  top: 198px;
  animation-name: showCubeFromTop;
}

.logo__cube:nth-child(2) {
  z-index: 5;
  top: 265px;
  animation-name: showCubeFromFront;
}

.logo__cube:nth-child(3) {
  z-index: 4;
  top: 332px;
  animation-name: showCubeFromBottom;
}

.logo__cube:nth-child(4) {
  z-index: 6;
  left: 66px;
  top: 169px;
  animation-name: showCubeFromTop;
  animation-delay: 100ms;
}

.logo__cube:nth-child(5) {
  z-index: 3;
  left: 66px;
  top: 303px;
  animation-name: showCubeFromBottom;
  animation-delay: 200ms;
}

.logo__cube:nth-child(6) {
  z-index: 1;
  left: 132px;
  top: 274px;
  animation-delay: 300ms;
  animation-name: showCubeFromFront;
}

.logo__cube:nth-child(7) {
  z-index: 2;
  left: 132px;
  top: 207px;
  animation-delay: 400ms;
  animation-name: showCubeFromFront;
}

.logo__cube:nth-child(8) {
  z-index: 2;
  left: 132px;
  top: 140px;
  animation-delay: 500ms;
  animation-name: showCubeFromFront;
}

.logo__cube:nth-child(9) {
  z-index: 2;
  left: 132px;
  top: 74px;
  animation-delay: 600ms;
  animation-name: showCubeFromFront;
}

.logo__cube:nth-child(10) {
  z-index: 2;
  left: 132px;
  top: 8px;
  animation-delay: 700ms;
  animation-name: showCubeFromFront;
}
